body{
  margin:0;
  background:#0b0b12;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
}

.hero{
  padding:40px;
}

.cover{
  width:350px;
  border-radius:12px;
  margin:20px auto;
  display:block;
  box-shadow:0 0 20px rgba(168,85,247,0.5);
}

.btn{
  display:inline-block;
  padding:12px 20px;
  background:#a855f7;
  color:white;
  text-decoration:none;
  border-radius:10px;
  font-weight:bold;
  box-shadow:0 0 15px rgba(168,85,247,.4);
}
